In [1]:
#task_1 a
def fact(n):
  if n==0 or n==1:
    return 1
  else:
   return n*fact(n-1)
n = 10
print(fact(n))

3628800

In [2]:
#task_1b
def fib(n):
  if n<=1:
    return n
  else:
    return fib(n-1) +fib(n-2)
n =10
print(fib(n))

55

In [3]:
#task_1c
def print_arr(arr,i):
  if i == len(arr):
    return None
  else:
    return print_arr(arr,i+1)
arr = (10,20,30,40,50)
print(arr)

(10, 20, 30, 40, 50)

In [4]:
#task_1d
def basen(base,n):
  if n==0:
    return 1
  elif n == 1:
    return base
  else:
    return base*(basen(base,n-1))
base,n = 3,2
print(basen(base,n))

9

In [5]:
#task_2a
def bin(n):
  if n == 0:
    return 0
  else:
    return (n%2)+10*bin(n//2)
n = 10
print(bin(n))

1010

In [6]:
#task2_b
class Node:
    def __init__(self,ele = None,next = None):
        self.ele = ele
        self.next = next
i3 = Node(40)
i2 = Node(30,i3)
i1 = Node(20,i2)
i0 = Node(10,i1)
def add_sum(Node):
    if Node.next == None:
        return Node.ele
    return Node.ele +add_sum(Node.next)
print(add_sum(i0))

100

In [7]:
def add_sum(Node):
  if Node.next == None:
    return Node.ele
  return Node.ele+(add_sum(Node.next))

In [8]:
#task2_c
def print_rev(Node):
    if Node.next == None:
        print(Node.ele,end=' ')
    else:
        print_rev(Node.next)
        print(Node.ele,end=' ')
print_rev(i0)
print()

40 30 20 10

In [9]:
#Task_3
def hocBuilder(n):
    if n == 0 or n>8:
        return 0
    elif n==8:
        return 1
    return 5 + hocBuilder(n - 1)
n = 8
print(hocBuilder(n))

1

In [11]:
#task_4
def pettrn(n):
  if n == 0:
    return('1',end = " ")
  else:
    return 1+pettrn(n-1)
n = 5
print(pettrn(n))

SyntaxError: ignored

In [12]:
#task_4(b)
def pattern(m, n):
    if (m == 0):
        return
    space(m - 1)
    Seq2(n - m + 1)
    print()
    pattern(m - 1, n)
def space(m):
    if (m == 0):
        return
    print(" ", end=" ")
    space(m - 1)
def Seq2(m):
    if (m == 0):
        return
    Seq2(m - 1)
    print(m, end=" ")
pattern(5, 5)
print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [14]:
#task_4(b)
def Pattern(m):
    if (m == 0):
        print(" ")
    else:
        Pattern(m-1)
        Seq(m)
def Seq(m):
    if (m == 0):
        print(" ")
    else:
        Seq(m-1)
        print(m,end=" ")
Pattern(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [13]:
#Task_5
class lq:

    def print(self,array,idx):
        if(idx<len(array)):
            profit = self.calcProfit(array[idx])
            print(f"{idx+1}. Investent: {array[idx]}; Profit: {profit}")
            self.print(array, idx+1)
    def calcProfit(self,investment):
        if (investment <= 25000):
            return 0.0
        elif (investment > 25000 and investment <= 100000):
            return 45 + self.calcProfit(investment-1000)
        elif (investment > 100000):
            return 80 + self.calcProfit(investment-1000)
        else:
            return 0
array = [25000,100000,250000,350000]
f = lq()
f.print(array,0)

1. Investent: 25000; Profit: 0.0
2. Investent: 100000; Profit: 3375.0
3. Investent: 250000; Profit: 15375.0
4. Investent: 350000; Profit: 23375.0

In [ ]:
#Must TAski_1
class Node:
  def __init__(self, next, bottom, val):
    self.next = next # for next item
    self.bottom = bottom # for nested item check
    self.val = val # The integer value.

In [ ]:
from traitlets.traitlets import Instance
def flattenList(given_list, output_list) :
  for item in given_list:
    if  Instance == int:
      output_list.append(item)
    else:
      return flattenList(item,output_list)
def fla_llist(Node,output_list):
  while output_list.append(Node.val):
    if Node.bottom :
      flattenList(Node.bottom,output_list)
    Node = Node.next